/* "#root" {
  display: flex;
  flex-direction: column;
} */

.mainContainer {
  display: flex;
}

.searchField {
  display: flex;
}

.searchField button {
  background-color: rgb(24, 124, 114);
  border: 1px solid  rgb(24, 124, 114);
  border-radius: 21px;
  color: white;
  margin: 20px 45px;
  padding: 5px;
}


.categoriesContainer {
  background-color: rgb(24, 124, 114);
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  height: 100%;
  margin: 15px;
  overflow-y: auto;
  padding: 20px 10px 50px;
  position: fixed;
  width: 350px;
}

.categoriesContainer input {
  margin-right: 10px;
}

.categoriesContainer label {
  margin: 7px;
}

.asideContainer {
  display: flex;
  flex-direction: column;
  margin: 0 0 0 390px;
  padding: 15px 25px 15px 0;
  width: 85%;
}

.asideContainerTopSubContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.asideContainerTopSubContainer input {
  background-color: white;
  border: 4px rgb(18, 103, 95);
  border-radius: 11px;
  box-shadow: 8px 4px 19px  rgba(18, 103, 95, 0.9);
  margin: 30px;
  padding: 10px;
  width: 600px;
}

.cartButton img {
  height: 45px;
  width: 45px;
}

.productCard {
  align-items: center;
  background-color: white;
  border: 1px rgb(18, 103, 95);
  border-radius: 11px;
  box-shadow: 8px 4px 19px  rgba(18, 103, 95, 0.9);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  list-style: none;
  margin: 20px;
  padding: 13px;
  text-decoration: none;
  width: 270px;
}

.productCard a {
  text-align: center;
}

.productCard button {
  background-color: rgb(18, 103, 95);
  border: 1px solid rgb(18, 103, 95);
  border-radius: 11px;
  color: white;
  margin: 20px 45px;
  padding: 5px;
}

.productCard img {
  height: 150px;
}

.productCard a h4 {
  text-align: left;
  text-decoration: none;
}

.productCard:hover {
  box-shadow: (
    0 0 0.2rem white , 0 0 0.2rem
    rgb(24, 124, 114) , 0 0 1.4rem -5px
    rgb(24, 124, 114) , 0 0 0.8rem -5px
    rgb(24, 124, 114) , 0 0 2.4rem -5px
    rgb(24, 124, 114) , inset 0 0 2rem
    white);
  color: rgb(18, 103, 95);
  transition: 0.6s;
}

.headerDetails {
  background-color: rgb(24, 124, 114);
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.headerDetails button {
  background-color: white;
  border: 1px solid rgb(18, 103, 95);
  border-radius: 11px;
  color: rgba(13, 66, 60, 0.869);
  margin: 20px 45px;
}

.detailsCard {
  display: flex;
  margin-bottom: 80px;
  margin-top: 80px;
  text-align: center;
}

.detailsCard img {
  height: 350px;
}

.informations {
  align-items: center;
  background-color: white;
  border: 1px rgb(18, 103, 95);
  border-radius: 11px;
  box-shadow: 8px 4px 19px  rgba(18, 103, 95, 0.9);
  padding: 40px;
}

.informations button {
  background-color: rgb(18, 103, 95);
  border: 1px solid rgb(18, 103, 95);
  border-radius: 11px;
  color: white;
  margin: 20px 45px;
  padding: 5px;
}

.detailsCardForm {
  background-color: rgb(18, 103, 95);
  box-shadow: 8px 4px 19px  rgba(18, 103, 95, 0.9);
  color: white;
  display: flex;
  margin-bottom: 45px;
  padding: 37px;
  text-align: center;
}

.detailsCardForm label {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

.detailsCardForm button {
  background-color: white;
  border: 1px rgb(18, 103, 95);
  border-radius: 20px;
  margin-left: 30px;
}

.detailsLi {
  margin-bottom: 170px;
}

.detailsLi li {
  border-radius: 10px;
  box-shadow: 8px 4px 19px  rgba(18, 103, 95, 0.9);
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
}

.products {
  display: flex;
  flex-flow: wrap;
}

.botoesMaisMenos button {
  background-color: white;
  border: 1px solid rgba(18, 103, 95, 0.5);
  border-radius: 50px;
  box-shadow: 8px 4px 19px  rgba(18, 103, 95, 0.9);
  color: black;
  margin-top: 1px;
  padding: 8px 10px;
}
